<h1>Welcome to Teacher Association Portal</h1>
<ul>
    <li><a href="teacher">View All Teachers Details</a></li>
    <li><a href="/teacher/new">Add New Teacher</a></li>
    <li><a href="/timeTable/new">Add Time Table Schedule</a></li>
</ul>